include README.md
include LICENSE
include CHANGELOG.md
include COMPLIANCE.md
include SECURITY.md
include TRADEMARKS.md

include pyproject.toml

recursive-include qbitflow *.py
recursive-include qbitflow py.typed

recursive-exclude tests *
recursive-exclude examples *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
