include README.md
include LICENSE
include CHANGELOG.md
include PUBLISHING.md
include pyproject.toml
include setup.py
recursive-include qbitflow *.py
recursive-include qbitflow py.typed
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
